nav 
    #nav-collapse-button
        i.fa.fa-bars
    #nav-collapse-view 
        a.active(href="/") Home 
        a(href="/#more-about-me") About
        a(href="/#members") Members
        a(href="/publication") Publications
        a(href="/gallery") Gallery
        a(href="#") Contact
    .languages 
        .lang#farsi FA 
        .lang#english.active EN